# Python virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pickle files (often large or may contain binary data)
*.pkl

# Data files (optional if you want to keep them private or large)
Data/*.csv

# System files
.DS_Store
Thumbs.db

# VS Code settings (if used)
.vscode/

.env